/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
    color: grey;
}

@font-face {
    font-family: "PortuguesaCaps";
    src: url('assets/fonts/Portuguesa Caps.otf');
}

@font-face {
    font-family: "PortuguesaScript";
    src: url('assets/fonts/Portuguesa Script.otf');
}